@model LeonsWeb.Models.Promo

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}




<h4>Promo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceTypeToShow" class="control-label"></label>
                <input asp-for="ServiceTypeToShow" class="form-control" />
                <span asp-validation-for="ServiceTypeToShow" class="text-danger"></span>
            </div>
            <div class="form-group">


            </div>
              
                <input asp-for="StartQuotes" type="hidden" name="FirstRangePickerStartDate" class="form-control" />
        

      
              
                <input asp-for="EndQuotes" type="hidden" name="FirstRangePickerEndDate" class="form-control" />
        
            <div class="form-group">
                <input id="FirstDateRangePicker" />
             </div>
            <div class="form-group">
                <input id="SecondDateRangePicker" />
            </div>
                <input asp-for="EndPromoDate" type="hidden" name="SecondRangePickerEndDate" class="form-control" />
         
        
             
                <input asp-for="StartPromoDate" type="hidden" name="SecondRangePickerStartDate" class="form-control" />
         
            <div class="form-group">
                <label asp-for="NumberOfQuotesTaked" class="control-label"></label>
                <input asp-for="NumberOfQuotesTaked" type="number" class="form-control" />
                <span asp-validation-for="NumberOfQuotesTaked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfQuotesNotTaked" class="control-label"></label>
                <input asp-for="NumberOfQuotesNotTaked" type="number" class="form-control" />
                <span asp-validation-for="NumberOfQuotesNotTaked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfQuote" class="control-label"></label>
                <input asp-for="NumberOfQuote" type="number" class="form-control" />
                <span asp-validation-for="NumberOfQuote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}

